#woo-cart-badge {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #DB5C42;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


#woo-cart-badge:hover {
    background-color: #c74b36;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.woo-cart-badge-icon {
    font-size: 24px;
}

.woo-cart-badge-count {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}
